Package: firefox*
Pin: release a=experimental
Pin-Priority: 500

Package: chromium chromedriver chromium-driver chromium-l10n chromium-shell chromium-widevine
Pin: release a=experimental
Pin-Priority: 500
